.zonas {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}

.zonas__zonas {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 0 4rem;
}

.zonas__zonas P {
  font-size: 18px;
  font-family: var(--Montserrat);
  color: var(--negro);
  font-weight: bolder;
  text-align: center;
  margin: 0 0 1rem;
}

.zonas__zonas__pregunta {
    display: flex;
    align-items: center;
}

.zonas__zonas__pregunta p {
    font-size: 22px;
    font-family: var(--Crimson);
    color: var(--azulOscuro);
    font-weight: bold;
    margin: 0 1rem 0 0;
    letter-spacing: 1px;
}

/* CHECKBOX href = https://uiverse.io/ErzenXz/weak-falcon-28 */

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    cursor: pointer;
  }
  
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  
  .toggle-switch-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #ccc;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-switch-handle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .toggle-switch::before {
    content: "";
    position: absolute;
    top: -25px;
    right: -35px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
    transform: translateX(45px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px var(--verdeClaro);
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: var(--verdeClaro);
    box-shadow: inset 0 0 0 2px var(--verdeClaro);
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
    content: "On";
    color: var(--verdeClaro);
    right: -15px;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(40px);
  }
  

/* FIN CHECKBOX */

.zonas__zonas__raya {
    height: 2px;
    width: 100%;
    border-radius: 90px;
    background-color: var(--negro);
    margin: 2rem 0;
}

/* ZONAS */

.zonas__zonas .zonas__zonas__lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
}

/* FIN ZONAS */

.zonas__zonas__lista__boton_anadir {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.zonas__zonas__lista__boton_anadir button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: var(--azulOscuro);
  font-size: 18px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zonas__zonas__lista__boton_anadir p {
  color: var(--azulOscuro);
  font-family: var(--Crimson);
  font-size: 18px;
}

.zonas__imagen {
    position: sticky;
    top: 20vh;
    height: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 2rem;
}
 
.zonas__imagen img {
    height: 20rem;
    filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.5));
}

.zonas__imagen button {
  position: relative;
  font-size: 26px;
  font-family: var(--Montserrat);
  font-weight: bolder;
  color: whitesmoke;
  background-color: var(--verdeClaro);
  margin: 2rem 0 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: .5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zonas__imagen button div {
  position: absolute;
  top: -2rem;
  right: -2rem;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: aparecer-mano 1s ease-in-out forwards;
}

@keyframes aparecer-mano {
  0% {
    transform: scale(0) rotate(-40deg);
  }
  20% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
    filter: opacity(100%);
  }
  100% {
    transform: scale(0);
    filter: opacity(0);
  }
}

.zonas__imagen button div i {
  color: var(--negro);
  font-size: 38px;
}