.mi_camping {
    height: fit-content;
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mi_camping > h2 {
    width: 100%;
    font-family: var(--Montserrat);
    background-color: var(--azulOscuro);
    padding: .5rem 1rem;
    color: whitesmoke;
}

#titulo_zonas {
    margin: 0 0 2rem;
}

.mi_camping .parcelas .parcelas__imagen,
.mi_camping .zonas .zonas__imagen img,
.mi_camping .acomodadores .acomodadores__imagen img,
.mi_camping .zonas .zonas__zonas .zonas__zonas__raya,
.mi_camping .zonas .zonas__zonas > p {
    display: none;
}

.mi_camping .zonas .zonas__zonas {
    padding: 0;
}

.mi_camping .zonas {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 2rem;
}

.mi_camping .zonas .zonas__imagen {
    padding: 0;
}

.mi_camping .zonas .zonas__imagen button {
    padding: .5rem 4rem;
}

.mi_camping .acomodadores {
    flex-direction: column-reverse;
    align-items: center;
}

.mi_camping__raya {
    width: 100%;
    height: 2px;
    background-color: var(--azulOscuro);
    margin: 0 0 1.5rem;
}

.parcelas_guardar_cambios_btn {
    font-size: 26px;
    font-family: var(--Montserrat);
    font-weight: bolder;
    color: whitesmoke;
    background-color: var(--verdeClaro);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .5rem 4rem;
    margin: 0 0 1.5rem;
}

/* BOTONES FINALES */

.mi_camping__botones {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mi_camping__botones button {
    width: 28rem;
    font-family: var(--Montserrat);
    font-size: 26px;
    font-weight: bolder;
    background-color: var(--azulOscuro);
    color: whitesmoke;
    margin: .5rem 1.5rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
}

.mi_camping__botones .dot-spinner {
    margin: 0;
    --uib-size: 2.5rem;
    --uib-color: whitesmoke;
}

/* BOTONES FINALES */