.parcelas {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.parcelas__imagen {
    position: sticky;
    top: 20vh;
    height: fit-content;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding: 4rem 0 0;
}

.parcelas__imagen img {
    height: 22rem;
    filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.5));
}

.parcelas__caracteristicas {
    height: fit-content;
    width: 60%;
    padding: 2rem;
    text-align: center;
}

/* TAMAÑOS */

.parcelas__caracteristicas__tamanos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tamanos__tabla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}

.tamanos__tabla > div:nth-child(n+2) {
    padding: .3rem;
    border: 2px solid var(--azulOscuro);
}

.tamanos__tabla__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: var(--Crimson);
    font-style: italic;
    font-weight: bold;
    color: whitesmoke;
    background-color: var(--azulOscuro);
}

.parcelas .informacion {
    font-family: var(--Crimson);
    font-weight: bold;
    color: var(--negro);
    margin: 1rem 3rem;
}

/* BOTONES TAMAÑOS */

.tamanos__tabla__botones {
    display: flex;
}

.tamanos__tabla__botones:nth-child(odd) {
    background-color: whitesmoke;
}

.tamanos__tabla__botones:nth-child(even) {
    background-color: var(--azulClaro);
}

.tamanos__tabla__botones input {
    width: 8rem;
    border: none;
    background-color: transparent;
    outline: none;
    padding: .2rem 0 .2rem 1rem;
    color: var(--azulOscuro);
    font-family: var(--Crimson);
    font-size: 28px;
}

.tamanos__tabla__botones div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tamanos__tabla__botones div button {
    padding: 0;
}

.tamanos__tabla__botones div button i {
    color: var(--azulOscuro);
    font-size: 22px;
}

/* FIN BOTONES TAMAÑOS */

/* FIN TAMAÑOS */

.parcelas__caracteristicas h4 {
    font-size: 24px;
    font-family: var(--Crimson);
    color: var(--azulOscuro);
    align-self: flex-start;
}

/* TIPOS */

.parcelas__caracteristicas__tipos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asterisco_error_parcelas {
    align-self: flex-start;
    color: red;
    position: relative;
    left: -.5rem;
    top: .8rem;
}

.frase_error {
    align-self: flex-start;
    color: red;
    font-family: var(--Crimson);
    font-style: italic;
    font-size: 18px;
    margin: 1rem 0 0;
}

.parcelas__caracteristicas__tipos .tipos__tipos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* FIN TIPOS */

/* CARACTERISTICAS */

.parcelas__caracteristicas__caracteristicas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracteristicas__input {
    width: 50%;
    display: flex;
    margin: 1rem 0;
}

.caracteristicas__input input {
    width: 100%;
    background-color: whitesmoke;
    outline: none;
    border: 2px solid var(--azulOscuro);
    padding: .5rem 1rem;
    font-size: 24px;
    font-family: var(--Crimson);
    color: var(--azulOscuro);
}

.caracteristicas__input input:placeholder-shown {
    font-style: italic;
}

.caracteristicas__input button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--azulOscuro);
    margin: 0 0 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.5));
}

.caracteristicas__input button i {
    color: whitesmoke;
    font-size: 24px;
}

.caracteristicas__caracteristicas {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* CARACTERISTICA */

.caracteristica {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color: var(--azulClaro);
    margin: 1rem;
    border: 2px solid var(--negro);
    border-radius: 10px;
    filter: drop-shadow(4px 4px 2px rgb(0, 0, 0, 0.5));
}

.caracteristica p {
    color: var(--negro);
    font-size: 22px;
    font-family: var(--Crimson);
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}

.caracteristica button {
    position: absolute;
    bottom: -1.2rem;
    right: -1.8rem;
}

.caracteristica button i {
    font-size: 25px;
    color: var(--negro);
}

/* CARACTERISTICA */

/* FIN CARACTERISTICAS */