/* LOADER href=" https://uiverse.io/abrahamcalsin/serious-turkey-52 " */

.parcelas__der .dot-spinner {
    --uib-size: 10rem;
    --uib-speed: .9s;
    --uib-color: var(--negro);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    margin: 10rem 0 0;
  }
  
  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot-spinner__dot::before {
    content: '';
    height: 15%;
    width: 15%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }
  
  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }

  /* FIN LOADER */

.parcelas__der__parcela {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 6rem;
}  

.parcelas__der__parcela__nombre {
    padding: 1rem 2rem;
    border: 2px solid var(--negro);
    background-color: var(--marron1);
    font-family: var(--Crimson);
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
    color: whitesmoke;
    z-index: 1;
}

.parcelas__der__parcela__informacion {
    height: 100%;
    width: 100%;
    display: flex;
    border: 2px solid var(--negro);
    background-color: var(--marron3);
    margin: -1rem 0 0 .5rem;
    padding: 3rem 1.5rem 1.5rem;
    position: relative;
}

.parcela__informacion__arriba {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1.5rem 0 0;
}

.parcela__informacion__arriba > div {
  width: 100%;
  margin: 0 0 1rem;
}

.parcela__informacion__arriba h4 {
  width: 100%;
  font-family: var(--Crimson);
  font-size: 18px;
  color: rgb(230, 230, 230);
  letter-spacing: 2px;
  padding: .2rem .4rem;
  background-color: var(--marron2);
  margin: 0 0 .5rem;
  border: 1px solid var(--negro);
}

.parcela__informacion__tamano p {
  font-family: var(--Crimson);
  font-size: 18px;
  font-style: italic;
  color: var(--negro);
  margin: 0 0 0 1rem;
}

.parcela__informacion__electricidad > div {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 0 1rem;
}

.parcela__informacion__electricidad img {
  height: 2rem;
}

.parcela__informacion__electricidad .sin_incluir {
  filter: grayscale(95%);
}

.parcela__informacion__electricidad > div .raya_cruzada {
  height: 100%;
  width: 4px;
  position: absolute;
  bottom: 0;
  background-color: brown;
  transform: rotate(45deg);
  border-radius: 999px;
}

.parcela__informacion__estado__circulo {
  width: fit-content;
  border: 1px solid var(--negro);
  padding: .2rem .4rem;
  margin: 0 0 0 .5rem;
  font-family: var(--Crimson);
  font-style: italic;
  letter-spacing: 1px;
}

.reservada {
  background-color: rgb(202, 131, 0);
}

.ocupada {
  background-color: red;
}

.libre {
  background-color: var(--verdeClaro);
}

.parcela__informacion__tipos {
  width: 100%;
}

.parcela__informacion__tipos__lista {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 .5rem;
}

.parcela__informacion__tipos__lista img {
  height: 2rem;
  margin: .5rem .5rem;
  filter: drop-shadow(0 2px 2px rgb(0, 0, 0, 0.5));
}

.parcela__informacion__caracteristicas__lista {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.parcela__informacion__caracteristicas__lista span {
  margin: .2rem .5rem;
  border: 1px solid var(--negro);
  background-color: whitesmoke;
  font-family: var(--Crimson);
  font-style: italic;
  color: var(--negro);
  padding: .2rem .4rem;
}

.parcela__informacion__abajo {
    height: 100%;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parcela__informacion__abajo h2 {
  position: absolute;
  top: .5rem;
  font-family: var(--Crimson);
  font-size: 26px;
  color: var(--negro);
}

.parcela__informacion__abajo__caja {
  height: fit-content;
  min-height: 24rem;
  max-height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border: 1px solid var(--negro);
  background-color: var(--marron2);
  overflow-y: scroll;
  scrollbar-width: thin;
}

.parcela__informacion__abajo__caja .dot-spinner {
  --uib-size: 6rem;
  margin: 0;
}

.parcelas__reservas__vacia {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parcelas__reservas__vacia p {
  font-family: var(--Indie);
  font-weight: bold;
  color: var(--negro);
  font-size: 30px;
}

.parcelas__reservas__vacia img {
  height: 12rem;
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.5));
  margin: 1rem 0;
}

.btn_anadir_estancia {
  font-family: var(--Montserrat);
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 2px;
  padding: .4rem 3rem;
  margin: 1rem 0 0;
  background-color: var(--negro);
  color: rgb(218, 218, 218);
  transition: all .1s ease-in-out;
}

.btn_anadir_estancia:hover {
  transform: scale(1.05);
}

.parcelas__reservas {
  align-self: flex-start;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

/* ESTANCIA */

.parcelas__reservas__estancia {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--negro);
  border-radius: 9999px 15px 15px 9999px;
  margin: 1rem 0;
  background-color: var(--marron3);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.parcelas__reservas__estancia:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 3px, rgba(0, 0, 0, 0.09) 0px 6px 3px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.parcelas__reservas__estancia__imagen {
  height: 7rem;
  width: 7rem;
  border-right: 1px solid var(--negro);
  border-radius: 50%;
  overflow: hidden;
}

.parcelas__reservas__estancia__imagen img {
  height: 100%;
  width: 100%;
  filter: drop-shadow(inset 0 5px rgb(0, 0, 0) );
}

.parcelas__reservas__estancia__info {
  width: calc(100% - 7rem);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parcelas__reservas__estancia__info p {
  display: flex;
  justify-content: center;
  font-family: var(--Crimson);
  font-size: 22px;
  color: var(--negro);
}

.parcelas__reservas__estancia__info p:nth-child(-n+3) {
  width: 25%;
}

.parcelas__reservas__estancia__info p:nth-child(5) {
  width: 50%;
}

.parcelas__reservas__estancia__info span {
  height: 4rem;
  width: 2px;
  background-color: var(--negro);
}

/* ESTANCIA */