.mensaje {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mensaje__modal {
    max-width: 40rem;
    min-width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.mensaje__modal div:nth-child(1) {
    height: fit-content;
    min-height: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--azulGastado);
}

.mensaje__modal div:nth-child(1) button {
    font-size: 22px;
}

.mensaje__modal div:nth-child(2) {
    margin: 2rem 1rem;
}

.mensaje__modal div:nth-child(2) p {
    font-family: var(--Crimson);
    font-size: 22px;
    color: var(--azulOscuro);
}

.mensaje__modal div:nth-child(2) i {
    font-size: 3rem;
    color: var(--azulOscuro);
    margin: 0 0 .5rem;
}

.mensaje__modal__botones {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 1.5rem;
}

.mensaje__modal__botones button {
    background-color: var(--azulOscuro);
    color: whitesmoke;
    font-family: var(--Montserrat);
    font-size: 15px;
    font-weight: bold;
    margin: 0 1rem;
}